<section class="shop">
  <div id="one_marker"></div>
  <div class="shopInfo form">
    <%= form_for @shop, url: {action: "update"}, html: {class: "shop_form"} do |f| %>
        <%= render 'partials/error_messages', object: f.object %>
        <h1>
          <p><span>Nom de la chaine :</span><%= f.text_field :chain, placeholder: "Le nom de la chaine" %></p>

          <p><span>Nom du magasin :</span><%= f.text_field :name, placeholder: "name" %></p>
        </h1>

        <div class="wrapper">
          <div class="address geocompleteInput">
            <p>Vérifier une adresse avec Google map : </p>
            <p><%= text_field_tag "geocodeAdress", nil, placeholder: 'Adresse complète' %></p>
          </div>
          <div class="address">
            <i class="icon-location"></i>

            <div>
              <p><%= f.text_field :address, placeholder: "Adresse" %></p>

              <p><%= f.text_field :zip, placeholder: "Code Postal" %>  <%= f.text_field :city, placeholder: "Ville" %><%= f.text_field :country_code, placeholder: "Pays" %></p>
            </div>
          </div>

          <div class="phoneWrap">
            <i class="icon-phone"></i>

            <p class="phone"><%= f.telephone_field :phone, placeholder: "Phone" %></p>
          </div>

          <div class="submit">
            <%= f.submit "Mettre à jour le Magasin" %>
          </div>

    <% end %>
    </div>

    <div class="controll">
      <%= link_to "", @blog, :method => :delete, class: 'delete icon-cancel-1' %>
      <%= link_to '', @shop.id.to_s + '/edit', class: 'icon-edit' %>
    </div>
  </div>
</section>
<nav class="otherShops">
  <%= link_to("Previous Shop", @shop.previous_shop) if @shop.previous_shop %>
  <%= link_to("Next Shop", @shop.next_shop) if @shop.next_shop %>
</nav>
<%= include_gon %>
<% javascript 'google_map_one_marker' %>

