<section class="shop">
  <div id="one_marker"></div>
  <div class="shopInfo form">
    <%= form_for @shop, url: {action: "create"}, html: {class: "shop_form"} do |f| %>
        <%= render 'partials/error_messages', object: f.object %>
        <h1>
          <p>Nom de la chaine :</p><%= f.text_field :chain, placeholder: "Le nom de la chaine" %>

          <p>Nom du magasin :</p><%= f.text_field :name, placeholder: "name" %>
        </h1>

        <div class="wrapper">
          <div class="address geocompleteInput">
            <p>Vérifier une adresse avec Google map : </p>

            <p><%= text_field_tag "geocodeAdress", nil, placeholder: 'Adresse complète' %></p>
          </div>
          <div class="address">
            <i class="icon-location"></i>

            <div>
              <p><%= f.text_field :address, placeholder: "Adresse" %></p>

              <p><%= f.text_field :zip, placeholder: "Code Postal" %>  <%= f.text_field :city, placeholder: "Ville" %><%= f.text_field :country_code, placeholder: "Pays" %></p>
            </div>
          </div>

          <div class="phoneWrap">
            <i class="icon-phone"></i>

            <div class="phone"><%= f.telephone_field :phone, placeholder: "Phone" %></div>
          </div>

          <div class="submit">
            <%= f.submit "Créer le magasin" %>
          </div>

    <% end %>
    </div>

  </div>
</section>
<% javascript 'google_map_one_marker' %>

