<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<%= link_to 'Delete', shops_path(@shop), :confirm=>"Are you sure", :method=>:delete %>

<p><%= @shop.address %></p>
<p><%= @shop.phone %></p>
<p>Find me in app/views/posts/show.html.erb</p>

<%= button_to "delete", @shop, :method=>:delete, :class=>:destroy %>



<%= link_to 'update shop',  @shop.id.to_s + '/edit' %>

<% if @hash %>
    <script>

      //  markers = handler.addMarkers(<%= raw @hash.to_json %>);




    </script>
<% end %>


<p>Find me in app/views/shops/show.html.erb</p>
