<section class="shop">
  <div id="one_marker"></div>
  <div class="shopInfo">
    <h1>
      <p><%= @shop.chain %></p>

      <p><%= @shop.name %></p>
    </h1>

    <div class="wrapper">
      <div class="address">
        <i class="icon-location"></i>

        <div>
          <p><%= @shop.address %></p>

          <p><%= @shop.zip %>  <%= @shop.city %></p>
        </div>
      </div>

      <div class="phoneWrap">
        <i class="icon-phone"></i>

        <p class="phone"><%= link_to @shop.phone, 'tel:' + @shop.phone.to_s %></p>
      </div>
    </div>

    <div class="controll">
      <%= link_to "", @blog, :method => :delete, class: 'delete icon-cancel-1' %>
      <%= link_to '', edit_shop_path(@shop), class: 'icon-edit' %>
    </div>
  </div>
</section>
<nav class="otherShops">
  <%= link_to("Previous Shop", @shop.previous_shop) if @shop.previous_shop %>
  <%= link_to("Next Shop", @shop.next_shop) if @shop.next_shop %>
</nav>
<%= include_gon %>
<% javascript 'google_map_one_marker' %>

